:root{
    --back-color: rgb(117, 160, 160);
    --button-color: rgb(22, 156, 156);
    --button-highlight-color: rgb(17,102,102);
    --lose-color: rgb(131, 38, 38);
    --game-color: rgb(22, 156, 156);
}


body {
  font-family: "Nunito";
  margin: 0px;
  background-color: var(--back-color);
}

#iframe{
    position: relative;
    /* left: calc(50% - 350px); */
    width: 100%;
}

#gameBox{
    height: 200px;
    width: 200px;
    background-color: var(--game-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameBox p{
    font-size: 70px;
    z-index: 2;
}

#clock{
    height: 200px;
    width: 200px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    clip-path: polygon(50% 0, 50% 50%, 50% 0);
}

#scoreBox{
    height: 200px;
    width: max(calc(100% - 400px), 200px);
    justify-content: left;
    flex-direction: column;
}

#scoreBox p{
    font-size: 38px;
    margin-left: 10px;
}

#container{
    width: min(700px, 100%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#settings{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

#settings div{
    width: max(200px, 45%);
    display: flex;
    flex-direction: row;

}

#settings button{
    background-color: var(--button-color);
    color: whitesmoke;
    border: none;
    width: calc(100% / 3);
    height: 60px;
    font-size: 1.3rem;
}

#settings button:hover{
    color:black;
}

#settings button.selected{
    background-color: var(--button-highlight-color);
}

#hiscoreBox{
    background-color: var(--button-color);
    width: 200px;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1rem;
}

#hiscoreBox h2{
    font-weight: normal;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-left: 10%;
    margin-bottom: 0;
    padding: 0;
}

#hiscoreBox .row{
    display: flex;
    flex-direction: row;
}

#hiscoreBox .row div{
    width: 50%;
    padding: 0 10%;
}

#hiscoreBox #hiscores{
    text-align: right;
}