body {
  font-family: "Nunito";
  margin: 0px;
}


#gameBox{
    height: 200px;
    width: 200px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameBox p{
    font-size: 70px;
    z-index: 2;
}

#clock{
    height: 200px;
    width: 200px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    clip-path: polygon(50% 0, 50% 50%, 50% 0);
}

#scoreBox{
    height: 200px;
    width: 200px;
    justify-content: left;
    flex-direction: column;
    padding-left: 10px;
}

#scoreBox p{
    font-size: 38px;
}

#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#settings{
    display: flex;
    flex-direction: row;
    width: 270px;
}

#settings div{
    height: 200px;
    width: 45%;
    flex-direction: column-reverse;
    margin-right: 10px ;
}

#settings button{
    background-color: rgb(22, 156, 156);
    color: whitesmoke;
    border: none;
    width: 100%;
    height: 60px;
    font-size: 1.5rem;
}

#settings button:hover{
    color:black;
}

#settings button.selected{
    background-color: rgb(17, 102, 102);
}

#hiscoreBox{
    background-color: rgb(22,156,156);
    width: 300px;
    display: flex;
    flex-direction: column;
    color: white;
}

#hiscoreBox h2{
    font-weight: normal;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-left: 10%;
    margin-bottom: 0;
    padding: 0;
}

#hiscoreBox .row{
    display: flex;
    flex-direction: row;
}

#hiscoreBox .row div{
    width: 50%;
    padding: 0 10%;
}

#hiscoreBox #hiscores{
    text-align: right;
}