
body {
  background-color: #46AFB8;
  margin: 0;
  width: 100%;
  height: 100%;
}
div.Hello_World{
  position: absolute;
  left: calc(100% - 310px);
  top: calc(100% - 80px);
}
img{
  width: 300px;
}
#tillmorse{
  width: 20%;
  position: absolute;
  background-color: #057190;
  padding: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  border-radius: 20px;
  left: 18%;
  top: 250px;
}
#franmorse{
  width: 20%;
  position: absolute;
  padding: 2%;
  padding-top: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  border-radius: 20px;
  background-color: #057190;
  left: 58%;
  top: 250px;
}
#f{
  font-family: helvetica, arial, sans-serif;
  width: 90%;
  display: block;
  margin: 3% auto;
  padding: 2%;
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
}
#t{
  font-family: helvetica, arial, sans-serif;
  width: 90%;
  display: block;
  margin: 3% auto;
  padding: 2%;
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
}
#from{
  font-family: helvetica, arial, sans-serif;
  margin: 15% auto;
  font-size: 1.5rem;
}
#till{
  font-family: helvetica, arial, sans-serif;
  margin: 15% auto;
  font-size: 2rem;
}
h1 {
  font-family: helvetica, arial, sans-serif;
  font-size: 3rem;
  color: #fff;
  margin-top: 2rem;
  text-align: center;
}
