body {
  background-color: #46AFB8;
  margin: 0;
}
div.Hello_World{
  position: absolute;
  left: calc(100% - 310px);
  top: calc(100% - 80px);
}
img{
  width: 300px;
}
#tillmorse{
  width: 20%;
  position: absolute;
  background-color: #057190;
  padding: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  border-radius: 20px;
  left: 20%;
  top: 200px;
}
#franmorse{
  width: 20%;
  position: absolute;
  padding: 2%;
  padding-top: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  border-radius: 20px;
  background-color: #057190;
  left: 60%;
  top: 200px;
}
#f{
  width: 90%;
  display: block;
  margin: 3% auto;
  padding: 2%;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
}
#t{
  width: 90%;
  display: block;
  margin: 3% auto;
  padding: 2%;
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
}
#from{
  margin: 15% auto;
  font-size: 20;
}
#till{
  margin: 15% auto;
  font-size: 20;
}
